wwwroot/** linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.scss linguist-vendored
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.scss linguist-detectable=false
