<div class="col col-12">
    <div class="item d-flex align-items-center">
        <div class="image">
            <img src="@Image"  class="img-fluid rounded-circle">
        </div>
        <div class="text">
            <h3 class="h5">@Name</h3>
            <small>@Description </small>
        </div>
    </div>
</div>