@inherits LayoutComponentBase


<header>
   <NavMDB/>
    <nav id="main-navbar"
         class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
                     height="25"
                     alt=""
                     loading="lazy" />
            </a>
            <ul class="navbar-nav ms-auto d-flex flex-row">
            </ul>
        </div>
    </nav>
</header>

<main style="margin-top: 58px">
    <div class="container pt-4">
        @Body
    </div>
</main>
