<h3>NavMDB</h3>

@code {

}
<!-- Sidebar -->
<nav id="sidebarMenu"
     class=" d-lg-block sidebar  bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            
            <NavLink class="list-group-item list-group-item-action py-2 ripple" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home me-3" aria-hidden="true"></span> Home
            </NavLink>

            <NavLink class="list-group-item list-group-item-action py-2 ripple" href="applications">
                <span class="oi oi-grid-two-up me-3" aria-hidden="true"></span> Applications
            </NavLink>
            
            <NavLink class="list-group-item list-group-item-action py-2 ripple" href="dlls">
                <span class="oi oi-code me-3" aria-hidden="true"></span> DLL's
            </NavLink>
            
        </div>
    </div>
</nav>