<nav id="sidebarMenu"
     class=" d-lg-block sidebar  bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush sb-nav">

            <NavLink class="list-group-item list-group-item-action" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 
            </NavLink>

            <NavLink class="list-group-item list-group-item-action" href="applications">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> 
            </NavLink>
            <NavLink class="list-group-item list-group-item-action" href="dlls">
                <span class="oi oi-account-login" aria-hidden="true"></span> 
            </NavLink>
            <NavLink class="list-group-item list-group-item-action" href="scripts">
                <span class="oi oi-code" aria-hidden="true"></span> 
            </NavLink>

        </div>
    </div>
</nav>